<div>
    <ion-card (click)="navigate('pages/home')">
        <ion-card-header>
            <ion-card-subtitle>Home
                <ion-icon name="home-outline"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Esta carta te llevara al home</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card (click)="navigate('pages/top')">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-start">Top
                <ion-icon name="star-outline"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Esta carta te llevara al Top 100 de los vinos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</div>
