.txt-ligth {
    color: var(--valuewine-color-secondary);
}

.bg-black {
    --ion-background-color: var(--valuewine-color-secondary);
}

.bg-grey {
    --background: var(--valuewine-color-other) !important;
}
