.input {
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(145deg, #e5e5e5, #ffffff);
    color: black;
}

.alignContent {
    color: wheat;
    justify-content: center;
}

.is-invalid {
    border: 5px solid #eb445a;
}

.errorsEtiqueta {
    color: #eb445a;
}

.pointer {
    cursor: pointer;
}

.spin {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.toastError {
    --background: red;
}

.toastSucess {
    --background: green;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
