.input {
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(145deg, #e5e5e5, #ffffff);
}

.alignContent {
    color: wheat;
    justify-content: center;
}

.is-invalid {
    border: 5px solid #eb445a;
}

.errorsEtiqueta {
    color: #eb445a;
}