.input {
    border-radius: 10px;
    text-align: center;
    background: linear-gradient( 145deg, var(--valuewine-color-primary), var(--valuewine-color-other3));
    color: black;
}

.alignContent {
    justify-content: center;
}

.is-invalid {
    border: 5px solid #ff0022;
}

.errorsEtiqueta {
    color: #ff0022;
    font: bold;
}

.pointer {
    cursor: pointer;
}

.spin {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.toastError {
    --background: red;
}

.toastWarning {
    --background: rgb(218, 218, 22);
    color: var(--valuewine-color-secondary) !important;
    --button-color: var(--valuewine-color-secondary) !important;
}

.toastSucess {
    --background: green;
}

ion-menu {
    --ion-background-color: var(--valuewine-color-primary);
    ion-item {
        --background: var(--valuewine-color-primary);
    }
    ion-toolbar {
        --background: var(--valuewine-color-primary);
    }
}

.txt-center {
    text-align: center;
}

.badge {
    background-color: var(--valuewine-color-other3);
    color: var(--valuewine-color-secondary);
    font-size: 14px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
