.inputModal {
    border-radius: 10px;
    text-align: center;
    background: var(--valuewine-color-other3);
    color: black;
}

h4 {
    padding-left: 10px;
    font-weight: bold;
}

ion-button {
    width: 100%;
}