<ion-header [translucent]="true">
    <ion-toolbar class="bg-grey">
        <ion-buttons slot="start">
            <ion-back-button text="" color="dark" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="alignContent">
            <h2>Tus vinos</h2>
        </ion-row>
        <ion-row>
            <ion-col size="7">
                <ion-searchbar placeholder="Busca tu vino"></ion-searchbar>
            </ion-col>
            <ion-col size="3">
                <ion-button color="light" (click)="modalAgregarVino=true">Agregar vino
                    <ion-icon class="ms-1" name="add-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-list class="mt-5">
            <ion-list-header lines="inset">
                <ion-label class="txt-dark">Nombre Vino</ion-label>
                <ion-label class="txt-dark">Puntaje</ion-label>
                <ion-label class="txt-dark">Acciones</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let vino of vinos">
                <ion-label class="text-center">{{vino.Nombre}}</ion-label>
                <ion-label class="text-center">{{vino.Quality?vino.Quality:'No asignado'}}</ion-label>
                <ion-label class="text-center">
                    <ion-row>
                        <ion-col class="text-end">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </ion-col>
                        <ion-col class="text-start">
                            <ion-icon name="trash-outline" (click)="eliminarVino(vino)"></ion-icon>
                        </ion-col>
                    </ion-row>

                </ion-label>
            </ion-item>
        </ion-list>

    </ion-grid>

    <app-modal [abrirModal]="modalAgregarVino" (closeModal)='modalAgregarVino=false'></app-modal>
</ion-content>
