<ion-header [translucent]="true">
    <ion-toolbar class="bg-grey">
        <ion-buttons slot="start">
            <ion-back-button text="" color="dark" icon="arrow-back-outline"></ion-back-button>

        </ion-buttons>
        <ion-title>Vinos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="alignContent">
            <h4>Tus vinos</h4>
        </ion-row>
        <ion-row>
            <ion-col size="7">
                <ion-searchbar placeholder="Busca tu vino"></ion-searchbar>
            </ion-col>
            <ion-col size="3">
                <ion-button color="light">Agregar vino
                    <ion-icon class="ms-1" name="add-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-list class="mt-5">
            <ion-list-header lines="inset">
                <ion-label class="txt-ligth">Nombre Vino</ion-label>
                <ion-label class="txt-ligth">Puntaje</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let vino of vinos">
                <ion-label>{{vino.Nombre}}</ion-label>
                <ion-label>{{vino.Quality?vino.Quality:'No asignado'}}</ion-label>
            </ion-item>
        </ion-list>

    </ion-grid>
</ion-content>
