<ion-header [translucent]="true">
  <ion-toolbar class="bg-grey">
    <ion-buttons cslot="start">
      <ion-back-button
        text=""
        defaultHref="pages"
        color="dark"
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__fadeIn">
  <ion-grid>
    <ion-row class="alignContent">
      <h2><strong>Tus vinos</strong></h2>
    </ion-row>
    <ion-row>
      <ion-col size="7">
        <ion-searchbar placeholder="Busca tu vino"></ion-searchbar>
      </ion-col>
      <ion-col size="3">
        <ion-button color="light" (click)="openAgregarVino()">
          Agregar vino
          <ion-icon class="ms-1" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <table class="w-100 table table-dark mt-2">
      <thead>
        <tr class="text-center">
          <th>Nombre</th>
          <th>Puntaje</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="vinos && vinos.length > 0">
          <tr *ngFor="let vino of vinos; let i = index">
            <td>{{ vino.Nombre }}</td>
            <td>{{ vino.Quality ? vino.Quality : 'No asignado' }}</td>
            <td>
              <ion-row class="">
                <ion-col class="text-end" size="4">
                  <ion-icon
                    name="star-outline"
                    (click)="generarPuntaje(vino)"
                  ></ion-icon>
                </ion-col>
                <ion-col size="4" class="text-center">
                  <ion-icon
                    name="create-outline"
                    [routerLink]="['./editWine/' + vino.Id]"
                    [state]="{ vinoAEditar: vino }"
                  ></ion-icon>
                </ion-col>
                <ion-col size="4">
                  <ion-icon
                    name="trash-outline"
                    (click)="eliminarVino(vino)"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="vinos?.length === 0">
          <tr class="text-center">
            <td colspan="3">No tienes vinos cargados..</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!vinos">
          <tr>
            <td colspan="3" class="text-center">
              <ion-icon class="spin iconZoom" name="refresh-outline"></ion-icon>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ion-grid>
</ion-content>
