<ion-content overflow-scroll="true">
    <div class="container animate__animated animate__fadeIn mt-4">

        <ion-grid style="border-bottom: 1px solid ;">
            <ion-row class="ion-text-center">
                <h2 style="width: 100% !important">Bienvenido a ValueWine</h2>
            </ion-row>
            <ion-row class="ion-text-center">
                <h2 style="width: 100% !important">Registrate</h2>
            </ion-row>
        </ion-grid>

        <form [formGroup]="f">
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-label> Email </ion-label>
                    <hr />
                </ion-item>
                <ion-input class="input" [ngClass]="{'is-invalid': f.controls.email.errors&&(f.controls.email.touched||f.controls.email.dirty)}" type="text" formControlName="email" placeholder="Ingrese su email"></ion-input>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.email.errors?.pattern">*El email debe contener un formato abc@ef.gh</span>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.email.errors?.required &&(f.controls.email.touched||f.controls.email.dirty)">*El email es requerido</span>
            </ion-grid>
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-label> Nombre </ion-label>
                    <hr />
                </ion-item>
                <ion-input class="input" type="text" [ngClass]="{'is-invalid': f.controls.name.errors&&(f.controls.name.touched||f.controls.name.dirty)}" formControlName="name" placeholder="Ingrese su Nombre"></ion-input>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.name.errors?.maxlength">*El nombre no debe ser tan extenso</span>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.name.errors?.required &&(f.controls.name.touched||f.controls.name.dirty)">*El nombre es requerido</span>
            </ion-grid>
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-label> Dirección </ion-label>
                    <hr />
                </ion-item>
                <ion-input class="input" type="text" [ngClass]="{'is-invalid': f.controls.address.errors&&(f.controls.address.touched||f.controls.address.dirty)}" formControlName="address" placeholder="Ingrese su Dirección"></ion-input>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.address.errors?.maxlength">*La Dirección no debe ser tan extensa</span>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.address.errors?.required &&(f.controls.address.touched||f.controls.address.dirty)">*La Dirección es requerida</span>
            </ion-grid>
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-label> Telefono </ion-label>
                    <hr />
                </ion-item>
                <ion-input class="input" type="number" [ngClass]="{'is-invalid': f.controls.phone.errors&&(f.controls.phone.touched||f.controls.phone.dirty)}" formControlName="phone" placeholder="Ingrese su Telefono"></ion-input>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.phone.errors?.required &&(f.controls.phone.touched||f.controls.phone.dirty)">*El telefono es requerido</span>
            </ion-grid>
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-row>
                        <ion-label> Que rol desempeñas en el rubro del vino</ion-label>
                        <hr/>
                    </ion-row>
                </ion-item>
                <ion-row class="ion-text-center">
                    <ion-select class="select" placeholder="Selecciona una opcion" interface="action-sheet" formControlName="rol">
                        <ion-select-option value="1">Bodega-Productor</ion-select-option>
                        <ion-select-option value="0">Cliente-Consumidor</ion-select-option>
                    </ion-select>
                </ion-row>
                <!-- <ion-checkbox color="light" style="margin-left: 30px;" formControlName="rol"></ion-checkbox> -->

            </ion-grid>
            <ion-grid>
                <ion-item class="mt-5">
                    <ion-label> Password </ion-label>
                    <hr />
                </ion-item>
                <ion-input class="input" type="password" [ngClass]="{'is-invalid': f.controls.pass.errors&&(f.controls.pass.touched||f.controls.pass.dirty)}" formControlName="pass" placeholder="Ingrese su contraseña"></ion-input>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.pass.errors?.required &&(f.controls.pass.touched||f.controls.pass.dirty)">La contraseña es requerida</span>
                <span class="mt-2 errorsEtiqueta" *ngIf="f.controls.pass.errors?.minlength || f.controls.pass.errors?.maxlength ">La contraseña es debe tener entre 6 y 8 caracteres</span>
            </ion-grid>
            <ion-grid>
                <ion-row class="alignContent">
                    <ion-button *ngIf="!isLoading" class="pointer" color="light" (click)="createAccount()" [disabled]="f.invalid">Crear Cuenta
                        <ion-icon class="ms-2" name="save-outline"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="isLoading" disabled color="light">
                        <ion-icon class="spin iconZoom" name="settings-outline"></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid class="mt-4">
            <ion-row class="alignContent">
                <h4>Ya tenes una cuenta?</h4>
            </ion-row>
            <ion-row class="alignContent mb-4">
                <ion-badge class="badge pointer" (click)="redirectToLogin()">Inicia Sesion</ion-badge>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>
