<div class="container">
    <ion-item class="mt-4">
        <ion-grid>
            <ion-row class="ion-text-center">
                <h2 style="width: 100% !important">Bienvenido a ValueWine</h2>
            </ion-row>
            <ion-row class="ion-text-center">
                <h2 style="width: 100% !important">Registrate</h2>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-grid>
        <ion-item class="mt-5">
            <ion-label> Email </ion-label>
            <hr />
        </ion-item>
        <ion-input class="input" type="text" placeholder="Ingrese su email"></ion-input>
    </ion-grid>
    <ion-grid>
        <ion-item class="mt-5">
            <ion-label> Password </ion-label>
            <hr />
        </ion-item>
        <ion-input class="input" type="text" placeholder="Ingrese su contraseña"></ion-input>
    </ion-grid>
    <ion-grid class="mt-4">
        <ion-row class="alignContent">
            <h4>Ya tenes una cuenta?</h4>
        </ion-row>

        <ion-row class="alignContent">

            <ion-badge color="primary" (click)="redirect()">Inicia Sesion</ion-badge>
        </ion-row>
    </ion-grid>
</div>
